* {
    font-family: "Noto Sans TC", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    overflow: auto;
}

h3{
    color: #666666;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.note{
    color: #666666;
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px;
    text-align: center;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    margin: 0 auto;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    max-width: 340px;
    height: 275px;
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    text-align: center;
    animation: fadeIn 0.5s;
    position: relative;
    margin-top: 80px;
    border-radius: 10px;
    overflow: visible;
}

.signon {
    height: 332px;
}

.modal-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.close {
    position: absolute;
    background: url("close.png") no-repeat;
    width: 30px;
    height: 30px;
    top: 20px;
    left: 300px;
    padding: 7px 0px 0px 0px;
    gap: 0px;
    opacity: 0.5;
}

.close:hover,
.close:focus {
    cursor: pointer;
    opacity: 1;
}

.modal-content h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #448899;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #009090;
}

.modal-content p {
    font-size: 14px;
}

.modal-content p a {
    color: #448899;
    text-decoration: none
}

.modal-content p a:hover {
    text-decoration: underline;
}
